.cihamburger-md-icon {
    position: absolute;
    top: 64px;
    left: 88px;
    width: 72px;
    height: 55px;
    cursor: pointer;
    transition: all 0.3s;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2e2e2e;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 48px;
    color: #ededed;
    font-family: var(--font-poppins);
}

.whom-are-you {
    margin-bottom: 40px;
    width: 730px;
    height: 152px;
    text-align: center;
}

.home-child {
    display: flex;
    border-radius: 90px;
    background-color: #3a3a3a;
    width: 730px; /* Adjusted width to match text above */
    height: 91px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.home-child.activated {
    position: absolute;
    top: 64px;
    /* left: 230px; Increased distance to prevent overlap with ham.svg */
}

.search-input {
    background-color: #3a3a3a;
    color: #f8f8f8;
    border: none;
    padding-left: 30px;
    padding-right: 40px;
    border-radius: 90px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.search-icon {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.form-container{
    width: 80%;
    height: 95%;
}

.search-container {
    margin-top: 10%;
    overflow: auto;
    /* margin-left: 1.5rem; */
}

.search-container::-webkit-scrollbar {
    width: 0.5em;
}

.search-container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hide the thumb */
}